<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snake Game</title>
    <style>
        canvas {
            border: 5px solid rgb(31, 14, 185);
            display: block;
            margin: 0 auto;
            background-color: beige;
        }
    </style>
</head>
<body>
    <h1>Snake Game</h1>
    <div id="score">Your Score : 0</div>
    <canvas id="gameCanvas" width="1000" height="500"></canvas>
    <script src="/script.js"></script>
</body>
</html>
