<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snake Game - Start</title>
    <style>
        * {
            background-color: antiquewhite;
        }

        h1 {
            margin: 75px;
            text-align: center;
            font-size: 50px;
        }
        
        a {
            margin: 50px;
            align-items: center;
            text-align: center;
            display: block;
            font-size: 30px;
        }
    </style>
</head>
<body>
    <h1>Welcome to the Snake Game!</h1>
    <a href="/game" id="startButton">Let's Play</a>
</body>
</html>
